*.rbc
*.sassc
*secret_token.rb
*.DS_Store
*.config
**.orig
/log/*.log
/public/system/*
/spec/tmp/*
/example
/.bundle
/vendor/bundle
/bin
/tmp
/coverage/
/db/*.sqlite3
.ruby-version
.sass-cache
.rspec
rerun.txt
