<script>
  UniteToBuyIt.advanceReadiness();
//  var current_user = UniteToBuyIt.User.find(gon.id);
</script>



<!-------------------
Application Templates
-------------------->

<script type="text/x-handlebars" >
  <header>
    <nav>
      <ul>
        <li class="app_name">{{#linkTo index}}Unite To Buy It!{{/linkTo}}</li>
        <li>{{#linkTo users}}Users{{/linkTo}}</li>
        <li>{{#linkTo group_buys}}Group Buys{{/linkTo}}</li>
        <li>{{#linkTo orders}}My Orders{{/linkTo}}</li>
        <li><a id="logout" href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>

  <div id="main">
    {{outlet}}
  </div>

  <footer>
    &copy;2013 pedro
  </footer>
</script>


<!-- Homepage/Index -->

<script type="text/x-handlebars" data-template-name="index">
  <div>
    <h2>Index</h2>
    {{!#each groupBuy in controller}}
      {{!groupBuy.name}}
    {{!/each}}
  </div>
</script>



<!-------------
Users Templates
-------------->

<!-- Users Index -->

<script type="text/x-handlebars" data-template-name="users">

  <div>
    <h2>Users Index</h2>

    {{#each user in model}}
      <p>
        {{#linkTo users.show user}}
          {{user.displayName}}
        {{/linkTo}}
      </p>
    {{else}}
      <p>There are no users. Join?</p>
    {{/each}}
  </div>

  {{outlet}}

</script>


<!-- Users Show -->

<script type="text/x-handlebars" data-template-name="users/show">
  <div>

    {{#linkTo users}}Back{{/linkTo}}

    <h2>{{displayName}}</h2>
    <div>
      <h3>Personal Information</h3>
      {{countryCode}}

      {{#if 'isAdmin?'}}
        <p>is admin</p>
      {{else}}
        <p>Not admin</p>
      {{/if}}

    </div>
    {{#if avatarUrl}}
      <img class="avatar-profile" {{ bindAttr src="avatarUrl"}} >
    {{/if}}
  </div>
</script>



<!-----------------
GroupBuys Templates
------------------>

<!-- GroupBuys Index -->

<script type="text/x-handlebars" data-template-name="group_buys">
  <div>
    <h2>Group Buys</h2>


    {{#linkTo group_buys.new}}Create a Group Buy{{/linkTo}}
    <ul>
      {{#each group_buy in model}}
        <li>
          {{#linkTo group_buys.show group_buy}}
            {{group_buy.name}}
          {{/linkTo}}
        </li>
      {{else}}
        <p>There are no Group Buys. Why don't you {{#linkTo group_buys.new}}create{{/linkTo}} one?</p>
      {{/each}}
    </ul>

  </div>

  {{outlet}}

</script>


<!-- GroupBuys Show -->

<script type="text/x-handlebars" data-template-name="group_buys/show">
  <div>
    <ul>
      <li>
        {{#linkTo group_buys}}
          Back
        {{/linkTo}}
      </li>
      <li>
        {{#linkTo orders}}
          Order it!
        {{/linkTo}}
      </li>
    </ul>
    <h2>{{name}}</h2>
    <ul>
      {{#each orderableSet}}
        <li>
          {{#linkTo orderable_set.show orderableSet}}
            {{orderableSet.name}}
          {{/linkTo}}
        </li>
      {{else}}
        <p>This group buy is just for show.</p>
      {{/each}}
    </ul>
  </div>
</script>


<!-- GroupBuys New -->

<script type="text/x-handlebars" id="group_buys/new">
  <div class="form-wrapper">
    {{#linkTo group_buys}}
      Back
    {{/linkTo}}

    <p>Create a new Group Buy</p>
    <label>Name:<br>
      {{view Ember.TextField valueBinding="name"}}
    </label><br>
    <label>Description:<br>
      {{view Ember.TextArea valueBinding="description"}}
    </label><br>
    <button class="button-1-2 rounded-1 fail"> {{#linkTo group_buys}}Cancel{{/linkTo}}</button>
    <button class="button-1-2 rounded-1 success" {{action saveGroupBuy}}>Save</button>

  </div>
</script>



<!--------------
Orders Templates
--------------->

<script type="text/x-handlebars" data-template-name="orders">
  <h2>Orders</h2>
</script>


<script type="text/x-handlebars" data-template-name="orderable_sets">

</script>


<script type="text/x-handlebars" data-template-name="orderable_items">

</script>



<!---------------------
Miscellaneous Templates
---------------------->

<!-- Currently Removed -->

<script type="text/x-handlebars" data-template-name="about">
  <h2>About</h2>
</script>

<script type="text/x-handlebars" data-template-name="faq">
  <h2>FAQ</h2>
</script>

<script type="text/x-handlebars" data-template-name="contact_us">
  <h2>Contact Us</h2>
</script>



