<script>
  UniteToBuyIt.advanceReadiness();
  var current_user = gon.id;
</script>

<!-------------------
Application Templates
-------------------->

<script type="text/x-handlebars" >
  <header>
    <h1>UNITE!</h1>
    <ul>
      <li>{{#linkTo index}}Unite{{/linkTo}}</li>
      <li>{{#linkTo users}}Users{{/linkTo}}</li>
      <li>{{#linkTo group_buys}}Group Buys{{/linkTo}}</li>
      <li>{{#linkTo orders}}My Orders{{/linkTo}}</li>
      <li>{{#linkTo about}}About{{/linkTo}}</li>
      <li>{{#linkTo faq}}FAQ{{/linkTo}}</li>
      <li>{{#linkTo contact_us}}Contact Us{{/linkTo}}</li>
    </ul>
  </header>
  <div class="main rounded-1">
    {{outlet}}
  </div>

  <footer>
    &copy;2013 pedro
  </footer>
</script>



<!-------------
Users Templates
-------------->

<!-- Users Index -->

<script type="text/x-handlebars" data-template-name="users">

  <div>
    <h2>Users Index</h2>

    {{#each user in model}}
      <p>
        {{#linkTo users.show user}}
          {{user.displayName}}
        {{/linkTo}}
      </p>
    {{else}}
      <p>There are no users. Join?</p>
    {{/each}}
  </div>

  {{outlet}}

</script>


<!-- Users Show -->

<script type="text/x-handlebars" data-template-name="users/show">
  <div>

    {{#linkTo users}}Back{{/linkTo}}

    <h2>{{displayName}}</h2>
    <div>
      <h3>Personal Information</h3>
      {{countryCode}}

      {{#if isAdministrator}}
        <p>is admin</p>
      {{else}}
        <p>Not admin</p>
      {{/if}}

    </div>

    <img class="avatar-profile" {{ bindAttr src="avatarUrl"}} >

  </div>
</script>



<!-----------------
GroupBuys Templates
------------------>

<!-- GroupBuys Index -->

<script type="text/x-handlebars" data-template-name="group_buys">
  <div>
    <h2>Group Buys</h2>


    {{#linkTo group_buys.new}}Create a Group Buy{{/linkTo}}
    <ul>
      {{#each group_buy in model}}
        <li>
          {{#linkTo group_buys.show group_buy}}
            {{group_buy.name}}
          {{/linkTo}}
        </li>
      {{else}}
        <p>There are no Group Buys. Why don't you {{#linkTo group_buys.new}}create{{/linkTo}} one?</p>
      {{/each}}
    </ul>

  </div>

  {{outlet}}

</script>


<!-- GroupBuys Show -->

<script type="text/x-handlebars" data-template-name="group_buys/show">
  <div>
    <ul>
      <li>
        {{#linkTo group_buys}}
          Back
        {{/linkTo}}
      </li>
      <li>
        {{#linkTo orders}}
          Order it!
        {{/linkTo}}
      </li>
    </ul>
    <h2>{{name}}</h2>
    {{#each collector in paymentCollectors}}
      {{#linkTo users.show collector}}
        {{collector.name}}
      {{/linkTo}}
    {{/each}}
  </div>
</script>


<!-- GroupBuys New -->

<script type="text/x-handlebars" id="group_buys/new">
  <div class="form-wrapper">
    {{#linkTo group_buys}}
      Back
    {{/linkTo}}

    <p>Create a new Group Buy</p>
    <label>Name:<br />{{view Ember.TextField valueBinding="name"}}</label>
    <label>Description:<br />{{view Ember.TextArea valueBinding="description"}}</label>
    <button {{action saveGroupBuy}}>Save</button>
    {{#linkTo group_buys}}Cancel{{/linkTo}}
  </div>
</script>



<!--------------
Orders Templates
--------------->

<script type="text/x-handlebars" data-template-name="orders">
  <h2>Orders</h2>
</script>



<script type="text/x-handlebars" data-template-name="orderable_sets">

</script>


<script type="text/x-handlebars" data-template-name="orderable_items">

</script>



<!---------------------
Miscellaneous Templates
---------------------->

<script type="text/x-handlebars" data-template-name="about">
  <h2>About</h2>

</script>

<script type="text/x-handlebars" data-template-name="faq">
  <h2>FAQ</h2>

</script>

<script type="text/x-handlebars" data-template-name="contact_us">
  <h2>Contact Us</h2>

</script>



